* {
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  padding: 0 0 0 50px;
}
a {
  text-decoration: none;
}
body {
  font-family: Noto Sans, sans-serif;
  background: #060322;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header h1 {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header-nav a {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.616);
}
.header button {
  width: 190px;
  height: 50px;
  background: #1e1a3fb6;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.8s;
}
.header button:hover {
  background: #6016fc;
  transform: scale(1.1);
}
.menu {
  display: none;
}
/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  padding: 100px 0;
}
.hero h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #16fcd2;
}
.hero h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: white;
}
.hero p {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.549);
}
.Send {
  width: 190px;
  height: 50px;
  background: #1e1a3fb6;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.8s;
}
.Send:hover {
  background: #6016fc;
  transform: scale(1.1);
}
.hero-btn {
  display: flex;
  gap: 20px;
}
.learn {
  width: 190px;
  height: 50px;
  background: #1e1a3fb6;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.8s;
}
.learn:hover {
  background: #6016fc;
  transform: scale(1.1);
}

/* BLOCKS */
#blocks {
  padding: 50px 0;
}
.blocks {
  display: flex;
  gap: 50px;
}
.block {
  width: 320px;
  height: 265px;
  background: #161331;
  border-radius: 2px;
  padding: 40px;
}
.in-block {
  width: 60px;
  height: 55px;
  border-radius: 3px;
  background: #25214d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block a {
  font-size: 30px;
  padding-top: 5px;
  color: white;
}
.block h3 {
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin: 20px 0;
}
.block p {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  color: white;
}
.hr {
  color: #322e55;
}
#footer {
  padding: 28px 0;
}
.footer {
  display: flex;
  align-items: center;
  gap: 60px;
}

@media (max-width: 1024px) {
  .block p {
    font-size: 12px;
    line-height: 28px;
  }
  .footer {
    gap:20px;
  }

  .block {
    width: 300px;
    height: 222px;
  }
  .in-block {
    width: 55px;
    height: 50px;
  }
}
@media (max-width: 992px) {
  .footer img {
    width: 155px;
  }
  .hero {
    padding: 80px 0;
  }
}
@media (max-width: 866px) {
  .header button {
    width: 140px;
    height: 40px;
    font-size: 13px;
  }
  .header h1 {
    font-size: 20px;
  }
  .header-nav a {
    font-size: 14px;
  }

  .hero {
    gap: 20px;
    padding: 45px 0;
  }
  .hero h3 {
    font-size: 14px;
  }
  .hero h1 {
    font-size: 34px;
    line-height: 48px;
  }

  .hero p {
    font-size: 15px;
    line-height: 28px;
  }
  .Send {
    width: 170px;
    height: 45px;
    font-size: 13px;
  }
  .learn {
    width: 170px;
    height: 45px;
    font-size: 13px;
  }

  .block p {
    font-size: 9px;
    line-height: 22px;
  }
  .block h3 {
    font-size: 15px;
    font-weight: 700;
    margin: 14px 0;
  }
  .block {
    width: 250px;
    height: 180px;
  }
  .in-block {
    width: 50px;
    height: 45px;
  }
  .footer img {
    width: 140px;
    height: 22px;
  }
  #footer {
    padding: 22px 0;
  }
}
@media (max-width: 768px) {
  .header-nav a {
    font-size: 12px;
  }
  .hero h1 {
    font-size: 32px;
    line-height: 46px;
  }
  .block {
    padding: 28px;
  }
  .in-block a {
    font-size: 22px;
  }
  .footer {
    width: 120px;
    height: 20px;
  }
}
@media (max-width: 640px) {
  .footer img {
    width: 100px;
    height: 18px;
  }
  #footer {
    padding: 20px 0;
  }
  .header-nav {
    display: none;
  }
  .header button {
    display: none;
  }
  .menu {
    display: block;
    font-size: 25px;
    color: white;
  }
  .hero {
    gap: 14px;
    padding: 42px;
  }
  .hero h3 {
    font-size: 12px;
  }
  .hero h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .hero p {
    font-size: 12px;
    line-height: 22px;
  }
  .Send {
    width: 150px;
    height: 40px;
    font-size: 12px;
  }
  .learn {
    width: 150px;
    height: 40px;
    font-size: 12px;
  }
  .block p {
    font-size: 7px;
    line-height: 16px;
  }
  .block h3 {
    font-size: 11px;
    margin: 8px 0;
  }
  .block {
    width: 320px;
    height: 140px;
    padding: 22px;
  }
  .in-block {
    width: 35px;
    height: 35px;
  }
  .in-block a {
    font-size: 20px;
  }
  .container {
    padding: 0 0 0 30px;
  }
}
@media (max-width: 500px) {
  .footer img {
    width: 78px;
    height: 16px;
  }
  .container {
    width: 90%;
    padding: 0 0 0 25px;
  }
  .hero {
    gap: 12px;
  }
  .hero h3 {
    font-size: 10px;
  }
  .hero h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .hero p {
    font-size: 9px;
    line-height: 18px;
  }
  .Send {
    width: 115px;
    height: 32px;
    font-size: 10px;
  }
  .learn {
    width: 115px;
    height: 32px;
    font-size: 10px;
  }
  .blocks {
    gap: 25px;
  }
  .block {
    width: 1000px;
    height: 140px;
    padding: 18px;
  }
  .in-block a {
    font-size: 17px;
  }
  .in-block {
    width: 32px;
    height: 32px;
  }
  .block p {
    font-size: 6px;
    line-height: 15px;
  }
  .header h1 {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .footer img {
    width: 65px;
    height: 17px;
  }
  #footer {
    padding: 10px 0;
  }
  .header h1 {
    font-size: 17px;
  }
  .menu {
    font-size: 23px;
  }
  .hero {
    padding: 14px;
    gap: 15px;
  }
  .hero h3 {
    font-size: 8px;
  }
  .hero h1 {
    font-size: 18px;
    line-height: 26px;
  }
  .hero p {
    font-size: 8px;
    line-height: 14px;
  }
  .Send {
    width: 120px;
    height: 30px;
    font-size: 10px;
  }
  .learn {
    width: 120px;
    height: 30px;
    font-size: 10px;
  }
  .block {
    width: 950px;
    height: 125px;
    padding: 16px;
    gap: 18px;
  }
  .block p {
    font-size: 5px;
    line-height: 15px;
  }
  .in-block a {
    font-size: 15px;
  }
  .in-block {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 400px) {
  .container {
    padding: 0 0 0 20px;
  }
  #footer {
    padding: 8px 0;
  }
  .footer img {
    width: 55px;
  }
  .hero {
    gap: 13px;
  }
  .hero h1 {
    font-size: 16px;
    line-height: 22px;
  }
  .hero h3 {
    font-size: 7px;
  }
  .hero p {
    font-size: 8px;
    line-height: 14px;
  }
  .Send {
    width: 105px;
    height: 25px;
    font-size: 9px;
  }
  .learn {
    width: 105px;
    height: 25px;
    font-size: 9px;
  }
  .in-block {
    height: 20px;
    width: 20px;
  }
  .in-block a {
    font-size: 10px;
  }
  .block p {
    font-size: 5px;
    line-height: 10px;
  }
  .block h3 {
    font-size: 10px;
    margin: 7px 0;
  }
  .block {
    width: 900px;
    height: 105px;
    padding: 8px;
  }
  #blocks {
    padding: 35px 0;
  }
}
